appdirs==1.4.3
asgiref==3.2.3
colorama==0.4.3
Django==3.0.12
django-static-precompiler==1.8.2
importlib-metadata==1.4.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==8.1.0
pep517==0.6.0
pygame==1.9.6
python-for-android==2019.10.6
pytoml==0.1.21
pytz==2019.3
radiant==2.4
sh==1.12.4
six==1.13.0
sqlparse==0.3.0
virtualenv==16.7.9
zipp==0.6.0
